@import '../../common/common.scss';

.currentitem {
    margin-top: 5rem;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .text {
        font-weight: bold;
        font-size: 1.2rem;
        padding-top: 1rem;
    }

    .items {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }

    .footer {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            width: 20px;
            height: 20px;
            display: flex;
            font-size: 13px;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-right: 10px;

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
    }

    @include mobile {
        width: 100%;

        .items {
            display: flex;
            flex-direction: column;
        }
    }
}

