.contents {
  background-color: lightgrey;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: white;
  border-radius: 20px;
  width: 55%;
  margin: 10em 0 5em 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text {
  margin-left: 1.5em;
}

.no_contents{
  width:70vw;
  height: 60vh;
  font-size: 3rem;
  color:white;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
