.contents {
  background-color: lightgrey;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: white;
  border-radius: 20px;
  width: 55%;
  height: 70vh;
  margin: 10em 0 5em 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text {
  margin-left: 1.5rem;
}

.no_contents{
  font-size: 1.5rem;
  color:darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invaild{
  font-size:2rem;
}

@media all and (max-width:767px) { 
  .main{
    width:90%;
  }

  .no_contents{
    width:100%;
    font-size: 1rem;
  }
}