.item {
  width: 20em;
  height: 20em;
  border: 2px solid black;
  border-radius: 4px;
  margin: 2em;
}

.item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.img {
  width: 100%;
  height: 15em;
  background-color: lightpink;
  border-radius: 4px;
}

.address {
  color: black;
}

.price {
  font-weight: bold;
  color: black;
  text-overflow: ellipsis;
}
