.logout {
  display: flex;
  align-items: center;
  color:gray;
  font-weight: bold;
}

.text {
  margin-right: 1em;
}

.img {
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin-left: 10px;
  height: 25px;
  object-fit: contain;

  &:hover {
    cursor: pointer;
    background-color: lightgray;
  }
}

.btns{
  display: flex;
  font-size: 0.8rem;
}

.btn {
  margin-right: 1rem;
  position: relative;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}


@media all and (max-width:767px) {

  .text{
    visibility: hidden;
  }

  .logout{
    font-size: 0.1rem;
    width:10rem;
    margin-left: 0;
  }

  .btn{
    width:50%;
    margin: 0;
    font-size:0.5rem;
    padding: 0.1rem;
  }
}