.viewContent {
  width: 100%;
  margin-top: 8rem;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 600px;
  height: 400px;
}

.texts{
  margin-top: 1rem;
  width: 600px;
}

.line{
  width:40%;
  height:1px;
  background-color: gray;
  margin-bottom:1rem;
}

.nickName {
  font-weight: bold;
}

.address {
  color:gray;
  font-size: 0.8rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.price {
  font-size: 0.8rem;
  font-weight: bold;
  color: orange;
  margin-bottom: 2em;
}

.info{
  margin-bottom: 2rem;
}

.renew{
  display: flex;
  position: relative;
  margin-bottom: 2rem;
}

.change:hover,
.delete:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,0.4);
  border-radius: 4px;
}

.change{
  margin-right: 1rem;
}

