.viewContent {
  width: 100%;
  margin-top: 5em;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 40%;
  height: 30em;
  background-color: pink;
  margin: 1.5em;
  border-radius: 20px;
}

.line{
  width:40%;
  height:1px;
  background-color: gray;
  margin-bottom:1rem;
}

.user,
.content {
  width: 40%;
}

.user {
  margin: 1.5em;
}

.nickName {
  font-size: 1.2em;
  font-weight: bold;
}

.address {
  font-size: 0.8em;
}

.title {
  font-size: 1.5em;
  border-radius: 4px;
  font-weight: bold;
}

.price {
  font-size: 1.2em;
  font-weight: bold;
  color: orange;
  margin-bottom: 2em;
}

.info{
  margin-bottom: 2rem;
}

.renew{
  display: flex;
  position: relative;
  left:15rem;
  margin-bottom: 2rem;
}

.change:hover,
.delete:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,0.4);
  border-radius: 4px;
}

.change{
  margin-right: 1rem;
}