.logout {
  margin-left: 300px;
  display: flex;
  align-items: center;
  color:gray;
  font-weight: bold;
}

.text {
  margin-right: 1em;
}

.btns{
  margin-left: 5rem;
  display: flex;
  font-size: 0.8rem;
}

.btn {
  margin-right: 1rem;
  position: relative;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}


@media all and (max-width:767px) {

  .text{
    visibility: hidden;
  }

  .logout{
    font-size: 0.1rem;
    width:10rem;
    margin-left: 0;
  }

  .btn{
    width:50%;
    margin: 0;
    font-size:0.5rem;
    padding: 0.1rem;
  }
}