.header {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 5em;
  background-color: white;
}

.logo {
  margin: 2em 2em 2em 10em;
  width: 4em;
  height: 4em;
  font-size: 1em;
  cursor: pointer;
}

.btn {
  border: 4px solid black;
}
