@import '../../common/common.scss';

.search{
  .input {
    display: flex;
    width: 200px;
    height: 40px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 4px;

    .text {
      width: 90%;
      border: none;
      outline: none;
      font-size: 1em;
    }
  }
}
