.input {
  display: flex;
  width: 40em;
  height: 2.5em;
  justify-content: center;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 4px;
}

.text {
  width: 40em;
  border: none;
  outline: none;
  font-size: 1em;
}

.btn {
  width: 4em;
  border: none;
  background-color: white;
  outline: none;
  cursor: pointer;
}
